Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ 'http://www.youtube.com/@TheMentorCodeLab'}}">Youtube</a></li>
  <li><a href="{{ 'https://discord.gg/pmM4emCbuH'}}">Discord</a></li>
  <li><a href="{{ 'https://nowpayments.io/donation/TheMentorCodeLab'}}">Donnate</a></li>
  <li><a href="{{ 'https://fabricmc.net/' }}">Fabric</a></li>
  <li><a href="{{ 'https://fabricmc.net/develop/template/' }}">Template Generator</a></li>
</ul>
